*{
    margin: 0;
}
.header{
    display: flex;
    position: fixed;
    background-color: white;
}
.item{
    margin-top: 15px;
    padding-left: 60px;
}
.items1{
    margin-left: 450px;
    margin-top: 15px;
}
.items{
    margin-top: 8px;
}
.ofice{
    display: flex;
}
.w{
    padding: 90px;
}
#o1{
    margin-top: -19px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: white;
}
#o1:hover{
    width: 100px;
    height: 45px;
    background-color: gray;
}
.flex4{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}
.left4{
    margin-left: -700px;
    margin-top: 40px;
    font-size: 20px;
    margin-left: -100px;
}
.right4{
    margin-left: 200px;
}
#h1{
    color: gray;
    border-right: 2px solid gray;
    padding: 4px;
}
#m1{
    font-size: 17px;
    margin-top: 150px;
}
#z8{
    font-size: 37px;
    margin-top: 30px;
}
#v3{
    width: 100px;
    height: 28px;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 95px;
}
#v3:hover{
    background-color: gray;
}
#a8{
    color: gray;
}
#t8{
    padding: 0px 10px;
    background-color: rgb(52, 52, 52);
    border: none;
    border-top: 3px solid rgb(52, 52, 52);
    border-radius: 25px;
    width: 400px;
    height: 40px;
}
#j8{
    margin-left: -100px;
    padding: 5px;
    color: black;
    border-radius: 25px;
    background-color: #00C805;
}
#j8:hover{
    background-color: gray;
}